*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	font-family: sans-serif;
}

body {
	position: relative;
	overflow-y: scroll;
	padding-bottom: 1rem;
	min-height: 100vh;
	min-height: 100svh;
}

body::before {
	content: '';
	position: absolute;
	inset: 0;
	background-image: url('snake-skin.jpg');
	background-size: cover;
	background-attachment: fixed;
	z-index: -1;
	opacity: 0.05;
}

.board {
	background-color: var(--bs-body-bg);
	width: 100%;
	border: 0.0625rem solid;
}

h1 a {
	color: inherit;
	text-decoration: none;
}

h1 a:hover,
h1 a:focus-visible {
	text-decoration: underline;
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.2em 0.5em;
}

.color {
	display: inline-block;
	border-radius: 0.1em;
	width: 0.8em;
	aspect-ratio: 1;
	background-color: var(--color);
}

ul {
	padding: 0;
}
