*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--page-gap: 1rem;
	font-family: sans-serif;
}

body {
	/* padding: var(--page-gap); */
}

.board {
	width: calc(100% + 2 * var(--page-gap));
	margin-inline: calc(-1 * var(--page-gap));
	image-rendering: pixelated;
	border: 0.0625rem solid;
}

code span {
	font-style: italic;
}

dl {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 0.2em 0.5em;
}

.color {
	display: inline-block;
	border-radius: 0.1em;
	width: 0.8em;
	aspect-ratio: 1;
	background-color: var(--color);
}

ul {
	padding: 0;
}
