*,
*::before,
*::after {
	box-sizing: border-box;
}

:root {
	--page-gap: 1rem;
	font-family: sans-serif;
}

body {
	max-width: 40rem;
	margin: 0 auto;
	padding: var(--page-gap);
}

.board {
	width: calc(100% + 2 * var(--page-gap));
	margin-inline: calc(-1 * var(--page-gap));
	image-rendering: pixelated;
	border: 0.0625rem solid;
}

code span {
	font-style: italic;
}
